@import 'common';

.professional {
  padding-left: 40%;

  .messageContainer {
    background: #dcf8c6;
    padding: 10px;
    margin-bottom: 5px;
  }

  .date {
    font-size: 0.8em;
    color: #888;
  }
}

.patient {
  padding-right: 40%;

  .messageContainer {
    background: #EEE;
    padding: 10px;
    margin-bottom: 5px;
  }

  .date {
    font-size: 0.8em;
    color: #888;
  }
}

// injector
// endinjector