<main class="auth-main">
  <div class="auth-block">
    <h1>Simore</h1>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">User</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" placeholder="User" ng-model="vm.entry.username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="vm.entry.password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default btn-auth" ng-click="vm.login()">Sign in</button>
          <!--<a href class="forgot-pass">Forgot password?</a>-->
        </div>
      </div>
    </form>
  </div>
</main>