<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12"
       ba-panel
        ba-panel-title="Heart Rate"
       ba-panel-class="medium-panel">
    <heart-rate-widget patient="vm.entry" ng-if="vm.entry"></heart-rate-widget>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12"
       ba-panel
        ba-panel-title="Peso"
       ba-panel-class="xsmall-panel">
    <weight-widget patient="vm.entry" ng-if="vm.entry"></weight-widget>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12"
       ba-panel
        ba-panel-title="Calorías quemadas"
       ba-panel-class="xsmall-panel">
    <burnt-calories-widget patient="vm.entry" ng-if="vm.entry"></burnt-calories-widget>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12"
       ba-panel
        ba-panel-title="Pasos"
       ba-panel-class="xsmall-panel">
    <steps-widget patient="vm.entry" ng-if="vm.entry"></steps-widget>
  </div>
</div>