<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Nuevo Checkin</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="form" role="form" novalidate>
      <div class="form-group">
        <label for="treatment" class="col-sm-4 control-label">Nombre</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" name="name" ng-model="$ctrl.checkin.name" placeholder="Ingrese el nombre" required="">
        </div>
      </div>
      <div class="form-group">
        <label for="treatment" class="col-sm-4 control-label">Frecuencia de ejecución (hs)</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="quantity" name="quantity" ng-model="$ctrl.checkin.frecuency" placeholder="Ingrese la frecuencia de ejecución" required="">
        </div>
      </div>
      <div class="form-group">
        <label for="treatment" class="col-sm-4 control-label">Hora de inicio (hs)</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="startAt" name="startAt" ng-model="$ctrl.checkin.startAt" placeholder="Ingrese la hora de inicio" required="">
        </div>
      </div>
      <div class="form-group">
        <label for="treatment" class="col-sm-4 control-label">Pregunta</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" name="name" ng-model="$ctrl.checkin.question.question" placeholder="Ingrese la pregunta" required="">
        </div>
      </div>
      <div class="form-group">
        <label for="treatment" class="col-sm-4 control-label">Opciones <button class="btn btn-success btn-xs" ng-click="$ctrl.addOption()">+</button></label>
        <div class="col-sm-8">
          <div class="row" ng-repeat="opt in $ctrl.checkin.question.choiceQuestionOptions">
            <div class="col-xs-10">
               <input type="text" class="form-control" ng-model="opt.option" placeholder="Ingrese la opción" required="">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger btn-xs" ng-click="$ctrl.removeOption(opt)">-</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.addCheckin($ctrl.checkin)">Guardar</button>
  </div>
</div>