<div ba-panel ba-panel-class="">
  <div class="panel-content">
    <h3 class="with-line">Información general</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Picture</label>

          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img ng-src="{{ picture }}" ng-click="uploadPicture()">
              </div>
              <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
              <a href class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>
              <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Nombre</label>

          <div class="col-sm-9">
            {{vm.entry.firstName}}
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Apellido</label>

          <div class="col-sm-9">
            {{vm.entry.lastName}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Obra social</label>

          <div class="col-sm-9">
            {{vm.entry.medicalInsurance.name}}
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">N° de Socio</label>

          <div class="col-sm-9">
            {{vm.entry.medicalInsurance.number}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3">Profesional</label>
          <div class="col-sm-9">
            {{vm.entry.professional.firstName}}, {{vm.entry.professional.lastName}}
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">
            Altura/Peso
          </label>
          <div class="col-sm-9">
            {{vm.entry.height}}mts / {{vm.entry.weight}}kg
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3">Alergias</label>
          <div class="col-sm-9">
            {{vm.entry.allergies}}
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Tipo de Sangre</label>
          <div class="col-sm-9">
            {{vm.entry.bloodType}}
          </div>
        </div>
      </div>
    </div>

    <h3 class="text-center text-uppercase with-line">{{vm.entry.treatment.treatmentTemplate.name}}</h3>

    <div class="row">
      <div class="col-md-12">
        <p class="accent text-center"><em>{{vm.entry.treatment.description}}</em></p>
        <uib-tabset active="$tabSetStatus.activeTab">
          <uib-tab heading="Vitales">
            <div class="col-xs-12 col-md-3 col-lg-3" ng-repeat="item in vm.entry.treatment.vitals">
              <div class="panel panel-danger bootstrap-panel xsmall-panel">
                <div class="panel-heading text-center" style="color: white;">{{item.name}}</div>
                <div class="panel-body footer-panel">
                  <div class="col-md-6 text-center">
                    <i class="fa fa-heartbeat fa-4x" aria-hidden="true" style="color: #ed7878"></i>
                  </div>
                  <div class="col-md-6">
                    <p class="text-center" style="padding-top: 20px">{{item.wearableType}}</p>
                  </div>
                  <div class="col-md-12">
                    <p class="text-center" style="padding-top: 10px"><em>Diario</em></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-danger">+</button>
            </div>
          </uib-tab>
          <uib-tab heading="Checkins">
            <div class="col-xs-12 col-md-3 col-lg-3" ng-repeat="item in vm.entry.treatment.checkIns">
              <div class="panel panel-warning bootstrap-panel xsmall-panel with-scroll">
                <div class="panel-heading text-center" style="color: white;">{{item.name}}</div>
                <div class="panel-body footer-panel">
                  <div class="col-md-6 text-center">
                    <i class="fa fa-check fa-4x" aria-hidden="true" style="color: #e5c649"></i>
                  </div>
                  <div class="col-md-6">
                    <p class="text-center" style="padding-top: 20px">Cada {{item.frecuency}}hs</p>
                  </div>
                  <div class="col-md-12">
                    <p class="text-center" style="padding-top: 10px"><em>{{item.description}}</em></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-warning">+</button>
            </div>
          </uib-tab>
          <uib-tab heading="Medicaciones">
            <div class="col-xs-12 col-md-3 col-lg-3" ng-repeat="item in vm.entry.treatment.medications">
              <div class="panel panel-success bootstrap-panel xsmall-panel with-scroll">
                <div class="panel-heading text-center" style="color: white;">{{item.name}}</div>
                <div class="panel-body footer-panel">
                  <div class="col-md-6 text-center">
                    <i class="fa fa-medkit fa-4x" aria-hidden="true" style="color: #a6c733"></i>
                  </div>
                  <div class="col-md-6">
                    <p class="text-center" style="padding-top: 20px">Cada {{item.frecuency}}hs</p>
                  </div>
                  <div class="col-md-12">
                    <p class="text-center" style="padding-top: 10px"><em>Cantidad: {{item.quantity}}mg</em></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-success">+</button>
            </div>
          </uib-tab>
          <uib-tab heading="Citas">
            <div class="col-xs-12 col-md-3 col-lg-3" ng-repeat="item in vm.entry.treatment.appointments">
              <div class="panel panel-info bootstrap-panel xsmall-panel">
                <div class="panel-heading text-center" style="color: white;">{{item.name}}</div>
                <div class="panel-body footer-panel">
                  <div class="col-md-6 text-center">
                    <i class="fa fa-calendar fa-2x" aria-hidden="true" style="color: #57bdda"></i>
                  </div>
                  <div class="col-md-6">
                    <p class="text-center" style="padding-top: 5px">{{item.doctor}}</p>
                  </div>
                  <div class="col-md-12">
                    <p class="text-center" style="padding-top: 5px"><em>{{item.date | date:'dd/MM/yyyy HH:mm:ss'}}hs</em></p>
                    <p class="text-center"><em>{{item.address}}</em></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-info">+</button>
            </div>
          </uib-tab>
          <uib-tab heading="Recomendaciones">
            <div class="col-xs-12 col-md-3 col-lg-3" ng-repeat="item in vm.entry.treatment.recommendations">
              <div class="panel panel-default bootstrap-panel xsmall-panel">
                <div class="panel-heading text-center" style="color: white;">{{item.name}}</div>
                <div class="panel-body footer-panel">
                  <div class="col-md-6 text-center">
                    <i class="fa fa-medkit fa-4x" aria-hidden="true" style="color: #a6c733"></i>
                  </div>
                  <div class="col-md-6">
                    <p class="text-center upper-text" style="padding-top: 20px">Cada {{item.frecuency}}hs</p>
                  </div>
                  <div class="col-md-12">
                    <p class="text-center" style="padding-top: 10px"><em>Cantidad: {{item.quantity}}</em></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-default">+</button>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>